block footer
			// FOOTER
			footer.footer
				nav.navbar.nav_footer(role='navigation')
					.container
						#navbar_footer
							ul.nav.navbar-nav.navbar-left
								li: a(href='/home') HOME
								li: a(href='/about_us') ABOUT US
								li: a(href='/rooms_2',) ROOMS 
								li: a(href="/conf_room") CONFERENCE ROOM    
				
							ul.nav.navbar-nav.navbar-right
								li: a(href='/wed_hall') WEDDING HALL
								li: a(href='/restaurant') RESTAURANT
								li: a(href='/single_blog') BLOG
								li: a(href="/contact") CONTACT
						a.brand_footer(href='#')
							img(src="img/f-logo.png", height=41, width=132)
				.container-fluid(style="background-color: #C2A476;")
					.row.row-content#bottom
						// Social buttons
						.col-lg-push-9.col-lg-3.col-md-12(align='center')
							a.btn.btn-social-icon.btn-facebook.social_btn(href='http://www.facebook.com/profile.php?id=')
								span.fa-stack.fa-stack-half
									i.fa.fa-circle-thin.fa-stack-2x
									i.fa.fa-facebook.fa-stack-1x
							a.btn.btn-social-icon.btn-twitter.social_btn(href='http://twitter.com/')
								span.fa-stack.fa-stack-half
									i.fa.fa-circle-thin.fa-stack-2x
									i.fa.fa-twitter.fa-stack-1x
							a.btn.btn-social-icon.btn-linkedin.social_btn(href='http://www.linkedin.com/in/')
								span.fa-stack.fa-stack-half
									i.fa.fa-circle-thin.fa-stack-2x
									i.fa.fa-linkedin.fa-stack-1x
							a.btn.btn-social-icon.btn-youtube.social_btn(href='http://youtube.com/')
								span.fa-stack.fa-stack-half
									i.fa.fa-circle-thin.fa-stack-2x
									i.fa.fa-youtube-play.fa-stack-1x
							a.btn.btn-social-icon.social_btn(href='http://vk.com/')
								span.fa-stack.fa-stack-half
									i.fa.fa-circle-thin.fa-stack-2x
									i.fa.fa-vk.fa-stack-1x
						.col-lg-pull-2.col-lg-4.col-md-12
							p#rights(align='center') © RangeRelaxe. All rights reserved. Design by GalliaSoft