doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(name="description",content="")
			meta(name="author",content="")
			link(rel="icon",href="../../favicon.ico")
			title= title
block styles
	link(href='/css/bootstrap.min.css', rel='stylesheet')
	link(href='/css/font-awesome.min.css', rel='stylesheet')
block style
block body
	block content
	block scripts
		script(type="text/javascript", src='/js/libraries/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js', integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB", crossorigin="anonymous")
		script(type="text/javascript", src='/js/libraries/bootstrap.min.js')
	block script