extends ./includes/template
block style
	link(href='/css/style_index.css', rel='stylesheet')
	link(href='/css/style_about_us.css', rel='stylesheet')
	link(href='/css/rooms2.css', rel='stylesheet')
	link(href='/css/blog.css', rel='stylesheet')
block content
				// Jumbotron
				.jumbotron
					.container-fluid
						.row
							#img_jumbo
						.row.reserveJumbo
							.col-xs-7.col-md-offset-1.col-md-8
								ul.breadcrumb.reserveText 
									li: a(href='/home') HOME
									li.active 
										| BLOG
							.col-xs-2.col-md-2(style="margin-left:40px;padding-bottom:90px;")
								a.btn.btn-block#reserveButton(type="button")
									| RESERVE NOW
				main.content(style="background-color:#f9f6f1;")
					.container
						.row(style="padding-bottom:80px;")
							.col-xs-12.col-md-3
								h1.select-header SELECTED ROOMS
								ul.list-of-blog
									li.list-item
										a(href='/single_blog') Rooms
									li.list-item 
										a(href='/single_blog') Events
									li.list-item 
										a(href='/single_blog') Restaurant
									li.list-item 
										a(href='/single_blog') Family
									li.list-item 
										a(href='/single_blog') Wedding
									li.list-item 
										a(href='/single_blog') Memory
							.col-xs-12.col-md-5
								#photo_couple
							.col-xs-12.col-md-4.info-block
								h1.carousel_header IMAGE POST
								p.carousel_text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p
									a.btn#bookButton(type="button", style="margin-top:20px;")
										| READ MORE
							.col-xs-12.col-md-5
								#photo_couple
							.col-xs-12.col-md-4.info-block
								h1.carousel_header IMAGE POST
								p.carousel_text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p
									a.btn#bookButton(type="button", style="margin-top:20px;")
										| READ MORE
							.col-xs-12.col-md-5
								#photo_couple
							.col-xs-12.col-md-4.info-block
								h1.carousel_header IMAGE POST
								p.carousel_text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p
									a.btn#bookButton(type="button", style="margin-top:20px;")
										| READ MORE
							.col-xs-12.col-md-5
								#photo_couple
							.col-xs-12.col-md-4.info-block
								h1.carousel_header IMAGE POST
								p.carousel_text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p
									a.btn#bookButton(type="button", style="margin-top:20px;")
										| READ MORE



block script
	script(src='/js/block_repeat.js')