html
	head
		title=title
block styles
		link(href='/css/style.css', rel='stylesheet')
		link(href='/css/bootstrap.min.css', rel='stylesheet')

block scripts

block body
	body
		.wrapper
			header.header ghtgryh
			main.content rtyrty
		footer.footer retgret