extends ./includes/template
block style
	link(href='/css/style.css', rel='stylesheet')
block content
			.jumbotron
				//Carousel
				.carousel.slide#mycarousel(data-ride="carousel")
					.carousel-inner(role="listbox")
						.item.active
							img.img-responsive(src="/img/slide_1.jpg", alt="slide_1")
							.carousel-caption
								p.item1 RESERVE A ROOM FOR
								p.item2 FAMILY VACATION
						.item
							img.media-object(src="img/slide_5.jpg", alt="slide_5")
							.carousel-caption
								p.item1 RESERVE A ROOM FOR
								p.item2 FAMILY VACATION
						.item
							img.media-object(src="img/slide_3.jpg", alt="slide_3")
							.carousel-caption
								p.item1 RESERVE A ROOM FOR
								p.item2 FAMILY VACATION
				.container-fluid
					.row.reserveRow
						.col-xs-7.col-md-offset-1.col-md-8
							p.reserveText Reserve a room for Conference - Lorem ipsum dolor sit amet
						.col-xs-2.col-md-2(style="margin-left:40px;")
							a.btn.btn-block#reserveButton(type="button")
								| RESERVE NOW
					.row(style="padding-bottom:10px;background-color: #F9F6F1;")
						.col-xs-12
							p#center_text A FEW WORDS
			main.content
				.container
					.row(style="padding-bottom:150px;")
						.col-xs-12.col-sm-12.col-md-4
							#img_cup.center-block
							h2.header1.center-block LUXURY
							p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-xs-12.col-sm-6.col-md-4
							#img_star.center-block
							h2.header1 GREAT SERVICES
							p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-xs-12.col-sm-6.col-md-4
							#img_mouse.center-block
							h2.header1 ONLINE RESERVATION
							p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.row.no-gutters(style="padding-bottom:150px;")
						.col-xs-12.col-sm-6
							#img_deluxe
						.col-xs-12.col-sm-6
							#deluxe_aria
								
block script
	script(type="text/javascript", src='/js/carousel.js')
