extends ./includes/template
block style
	link(href='/css/style_index.css', rel='stylesheet')
	link(href='/css/style_about_us.css', rel='stylesheet')
	link(href='/css/rooms2.css', rel='stylesheet')
	link(href='/css/blog.css', rel='stylesheet')
block content
				// Jumbotron
				.jumbotron
					.container-fluid
						.row
							#img_jumbo
						.row.reserveJumbo
							.col-xs-7.col-md-offset-1.col-md-8
								ul.breadcrumb.reserveText 
									li: a(href='/home') HOME
									li.active 
										| RESTAURAUNT
							.col-xs-2.col-md-2(style="margin-left:40px;padding-bottom:150px;")
								a.btn.btn-block#reserveButton(type="button")
									| RESERVE NOW
				main.content(style="background-color:#f9f6f1;")
					.container
						.row(style="padding-bottom:150px;")
							.col-xs-12.col-sm-6
								h1#center_header2 OUR RESTAURANT
								p#center_text2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								a.btn#bookButton.center-block(type="button")
									| BOOK NOW
							.col-xs-12.col-sm-6
								#img_restaurant
						.row(style="padding-bottom:150px;")
							.col-xs-12.col-sm-4
								img(src="")
							.col-xs-12.col-sm-4
							.col-xs-12.col-sm-4
							.col-xs-12.col-sm-6
							.col-xs-12.col-sm-6

block script
	script(src='/js/block_repeat.js')