extends ./includes/template
block style
	link(href='/css/style_index.css', rel='stylesheet')
	link(href='/css/style_about_us.css', rel='stylesheet')
	link(href='/css/rooms2.css', rel='stylesheet')
block content
				// Jumbotron
				.jumbotron
					.container-fluid
						.row
							#img_jumbo
						.row.reserveJumbo
							.col-xs-7.col-md-offset-1.col-md-8
								ul.breadcrumb.reserveText 
									li: a(href='/home') HOME
									li.active 
										| ROOMS
							.col-xs-2.col-md-2(style="margin-left:40px;padding-bottom:90px;")
								a.btn.btn-block#reserveButton(type="button")
									| RESERVE NOW
				main.content(style="background-color:#f9f6f1;")
					.container
						.row(style="padding-bottom:150px;")
							.col-xs-12.col-md-3
								h1.select-header SELECTED ROOMS
								ul.list-of
									li.list-item
										a(href='/rooms_2') Sigle Room
									li.list-item 
										a(href='/rooms_2') Double Room
									li.list-item 
										a(href='/rooms_2') Presedential Suite
									li.list-item 
										a(href='/rooms_2') Family Room
									li.list-item 
										a(href='/rooms_2') Wedding Hall
									li.list-item 
										a(href='/rooms_2') Restaurant
							.col-xs-6.col-md-3.box
								.single-room
									p.sigle-text SINGLE ROOM
									.animation#animation
										span.display-block#display-block
											p.animation_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
											p.price-235 235$
											p.per-night per night
											img.img_display(src="../img/bg-1.png", width="122", height="21", alt="bottom label")
block script
	script(src='/js/block_repeat.js')