extends ./includes/template
block style
	link(href='/css/style_index.css', rel='stylesheet')
	link(href='/css/style_about_us.css', rel='stylesheet')
	link(href='/css/conf_room.css', rel='stylesheet')
	link(href='/css/wedding.css', rel='stylesheet')

block content
				// Jumbotron
				.jumbotron
					.container-fluid
						.row
							#img_jumbo
						.row.reserveJumbo
							.col-xs-7.col-md-offset-1.col-md-8
								ul.breadcrumb.reserveText 
									li: a(href='/home') HOME
									li.active 
										| WEDDING HALL
							.col-xs-2.col-md-2(style="margin-left:40px;padding-bottom:150px;")
								a.btn.btn-block#reserveButton(type="button")
									| RESERVE NOW
				main.content
					.container
						.row(style="padding-bottom:150px;")
							.col-xs-12.col-sm-12.col-md-4
								#img_projector.center-block
								h2.header1.center-block PROJECTOR
								p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.col-xs-12.col-sm-6.col-md-4
								#img_people.center-block
								h2.header1 UP TO 400 PEOPLE
								p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.col-xs-12.col-sm-6.col-md-4
								#img_breakfast.center-block
								h2.header1 FREE BREAKFAST
								p.ipsum1.center-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						// big picture
						.row.no-gutters(style="padding-bottom:150px;")
							.col-xs-12
								#img_big4
									.row.no-gutters
										.col-xs-12.col-sm-push-6.col-sm-6
											.inside_img
												.row.no-gutters
													.col-xs-2
														#img_meeting
														#img_modern-hall
													.col-xs-10
														h3 CHOOSE YOUR COLOR
														p.inside_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
														h3 MODERN HALL
														p.inside_text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								#img_big4
									.row.no-gutters
										.col-xs-12.col-sm-6
											.inside_img
												.row.no-gutter
													.col-xs-2
														#img_speakers
														#img_map2
													.col-xs-10
														h3 FREE DRINK
														p.inside_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
														h3 NEAR DOWNTOWN
														p.inside_text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-xs-12
								h1#center_header3 WEDDING ROOMS
								p#text-great Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							// team circles
						.row#circle_staff
							.col-xs-12.col-sm-12.col-md-4
								.circle_inside5.center-block
								h1#center_circle
							.col-xs-12.col-sm-6.col-md-4
								.circle_inside5.center-block
								h1#center_circle 
							.col-xs-12.col-sm-6.col-md-4
								.circle_inside5.center-block
								h1#center_circle 
					.container-fluid
						.row#circle_count(style="background-color:#353535")
							.col-xs-6.col-md-3
								.circle.center-block
									p.count_up#count1 0
								p Weddings
							.col-xs-6.col-md-3
								.circle.center-block
									p.count_up#count2 0
								p Happy People
							.col-xs-6.col-md-3
								.circle.center-block
									p.count_up#count3 0
								p Singers
							.col-xs-6.col-md-3
								.circle.center-block
									p.count_up#count4 0
								p Registrated members

						.row(style="padding-bottom:150px;")
block script
	script(type="text/javascript", src='/js/count_up.js')