* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  background-color: #F9F6F1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  height: 100%;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 17px;
  word-wrap: break-word; }

.wrapper {
  min-width: 100px;
  max-width: 2000px;
  margin: 0 auto;
  height: auto !important;
  height: 100%; }

#header {
  min-height: 80px;
  background-color: #f9f6f1; }

.brand {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: -20; }

.navbar {
  margin: 0; }

.navbar-toggle {
  background-color: #c2a476;
  float: left;
  margin: 2%;
  margin-top: 20px;
  position: relative;
  z-index: 10;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 9px 10px; }
  .navbar-toggle .icon-bar {
    background-color: white;
    height: 3px; }

#navbar > ul > li > a {
  background-color: transparent;
  color: #353535;
  font-size: 14px;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  border-width: 0px;
  font-style: normal; }

#navbar > ul > li > a:hover {
  border-bottom: 1px #C2A476 solid; }

#navbar > ul.nav.navbar-nav.navbar-left {
  margin-top: 20px;
  position: relative;
  z-index: 15; }

#navbar > ul.nav.navbar-nav.navbar-right {
  margin-top: 20px;
  position: relative;
  z-index: 15; }

.nav > li > a {
  padding: 10px 8px; }

@media (max-width: 768px) {
  .nav-collapse {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    left: 30px;
    margin-top: 10px;
    border-radius: 4px 4px 4px 4px; } }

@media (max-width: 900px) {
  .brand {
    top: 30px; } }

@media (max-width: 1100px) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1100px) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 120px;
    padding-left: 80px; } }

.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.footer {
  margin: -100px auto 0;
  min-width: 100px;
  max-width: 2000px;
  height: 100px;
  background: #BFF08E;
  position: relative; }

.nav_footer {
  background-color: #353535;
  min-height: 100px; }

#navbar_footer > ul > li > a {
  background-color: transparent;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  border-width: 0px;
  font-style: normal;
  position: relative;
  z-index: 150; }

#navbar_footer > ul > li > a:hover {
  color: #C2A476; }

.brand_footer {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  text-align: center; }

#rights {
  color: #FFFFFF;
  position: relative;
  font-family: lora, serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 26px;
  background-color: transparent; }

#bottom {
  min-height: 38px;
  padding-bottom: 2px;
  padding-top: 12px; }

.social_btn {
  padding: 2px 2px !important; }

.fa-stack-half {
  color: white; }

.fa-stack-half:hover {
  color: #353535; }

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: auto; } }

@media (min-width: 990px) {
  #navbar_footer > ul.nav.navbar-nav.navbar-left {
    margin-top: 25px; }
  #navbar_footer > ul.nav.navbar-nav.navbar-right {
    margin-top: 25px; } }

@media (max-width: 768px) {
  #navbar_footer > ul.nav.navbar-nav.navbar-left {
    margin-top: 100px; } }

.navbar {
  border-radius: 0; }

.jumbotron {
  padding: 0;
  margin: 0;
  font-family: lora, serif;
  background-color: #f9f6f1; }

.jumbotron p.item1 {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  margin-bottom: 10px;
  background-color: rgba(53, 53, 53, 0.7);
  line-height: 58px;
  font-size: 3vw; }

.jumbotron p.item2 {
  margin-bottom: 15px;
  background-color: rgba(53, 53, 53, 0.7);
  line-height: 86px;
  font-size: 5vw; }

.carousel {
  position: relative; }
  .carousel .item {
    height: 880px; }
    .carousel .item .carousel-caption {
      position: absolute;
      top: 35%;
      right: 25%;
      bottom: 20px;
      left: 25%;
      z-index: 10;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    .carousel .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 880px; }

.reserveRow {
  padding-top: 40px;
  min-height: 81px;
  padding-bottom: 40px;
  background-color: #353535; }

.reserveText {
  color: #FFFFFF;
  position: relative;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: transparent; }

#reserveButton {
  padding: 10px 12px;
  border: 1px solid #c2a476;
  border-radius: 4px;
  font-family: open-sans, sans-serif;
  font-size: 15px;
  width: 166px;
  background-color: #c2a476;
  color: white; }

#reserveButton:hover {
  background-color: transparent;
  color: white; }

#center_text {
  text-align: center;
  margin-top: 118px;
  min-height: 77px;
  position: relative;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  background: url(../img/bg-1.png) no-repeat center bottom; }

/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 100px; }

#img_cup {
  width: 180px;
  height: 112px;
  background: transparent url(../img/cup.png) no-repeat center center; }

#img_star {
  width: 180px;
  height: 112px;
  background: transparent url(../img/star.png) no-repeat center center; }

#img_mouse {
  width: 180px;
  height: 112px;
  background: transparent url(../img/mouse.png) no-repeat center center; }

.ipsum1 {
  padding-left: 42px;
  padding-right: 42px;
  font-weight: 400;
  color: #7E7E7E;
  font-style: italic;
  font-family: lora, serif;
  font-size: 16px;
  line-height: 24px;
  border-style: solid;
  background-color: transparent;
  border-color: #C2A476;
  border-width: 0px 1px;
  max-width: 330px; }

.header1 {
  font-weight: 400;
  text-align: center;
  font-family: lora, serif;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase; }

#img_deluxe {
  background: transparent url(../img/image-03.jpg) no-repeat left top;
  background-size: cover;
  height: 644px;
  width: 100%; }

#deluxe_aria {
  background-size: cover;
  height: 644px;
  background-color: #353535;
  width: 100%;
  color: white; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

#text_aria {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  color: #F9F6F1;
  position: relative;
  line-height: 24px;
  width: 100%; }

#lists {
  padding-left: 15px; }

#img_house {
  width: 60px;
  height: 75px;
  background: transparent url(../img/town.png) no-repeat center center; }

#img_wifi {
  width: 60px;
  height: 75px;
  background: transparent url(../img/wi-fi.png) no-repeat center center; }

#img_parking {
  width: 60px;
  height: 75px;
  background: transparent url(../img/parking.png) no-repeat center center; }

#img_breackfast {
  width: 60px;
  height: 75px;
  background: transparent url(../img/tea.png) no-repeat center center; }

#img_room {
  width: 60px;
  height: 75px;
  background: transparent url(../img/room-size.png) no-repeat center center; }

#ipsum2 {
  font-size: 12px;
  text-align: center;
  line-height: 14px; }

#bookButton {
  padding: 10px 12px;
  border: 1px solid #c2a476;
  border-radius: 5px;
  font-family: open-sans, sans-serif;
  font-size: 15px;
  width: 137px;
  background-color: transparent;
  color: #c2a476; }

#bookButton:hover {
  background-color: #c2a476;
  color: white; }

#img_restaurant {
  background: transparent url(../img/image-02.jpg) no-repeat left top;
  background-size: cover;
  height: 490px;
  width: 100%; }

#center_header2 {
  margin-bottom: 40px;
  text-align: center;
  min-height: 77px;
  position: relative;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  background: url(../img/bg-1.png) no-repeat center bottom; }

#center_text2 {
  font-weight: 400;
  color: #7E7E7E;
  font-style: italic;
  font-family: lora, serif;
  font-size: 16px;
  margin-right: 10px;
  line-height: 24px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 35px; }

.circle {
  width: 300px;
  height: 150px;
  position: relative;
  border-style: solid;
  padding-bottom: 0px;
  border-color: #424242;
  border-width: 0px 1px;
  background: transparent url(../img/bg-odometer.png) no-repeat center top; }

#circle_count {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #F9F6F1;
  font-family: lora, serif;
  position: relative;
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  text-align: center; }

.count_up {
  padding-top: 50px;
  font-size: 36px; }

#photo_chairs {
  height: 664px;
  background: transparent url(../img/image-01.jpg) no-repeat left top;
  background-size: cover; }

#mycarousel2 {
  top: 172px;
  right: 130px;
  max-height: 492px;
  min-width: 450px;
  background-color: #353535; }

@media (max-width: 990px) {
  #mycarousel2 {
    top: 0;
    right: 0;
    max-height: 430px;
    background-color: #353535; } }

.carousel-body {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px; }

.carousel-inner {
  position: relative;
  min-height: 492px;
  width: 100%;
  overflow: hidden; }

.carousel_header {
  font-weight: 600;
  color: #C2A476;
  font-family: lora, serif;
  font-size: 30px;
  position: relative;
  line-height: 36px;
  text-transform: uppercase;
  background-color: transparent; }

.carousel_text {
  font-weight: 400;
  margin-top: 18px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  color: #F9F6F1; }

#indicators_castom {
  position: absolute;
  bottom: 35px;
  left: 70px; }

.carousel-indicators li {
  margin: 1px 7px;
  display: inline-block;
  width: 12px;
  height: 12px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: transparent;
  border: 1px solid #C2A476;
  border-radius: 10px; }

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 1px 7px;
  background-color: #C2A476; }

.map_frame {
  border-width: 0px;
  height: 481px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  left: 0px;
  right: 0px; }
