#photo_couple {
	position: relative;
    height: 510px;
    background: transparent url(../img/image-08.jpg) no-repeat right top;
    background-size: cover;
    margin-bottom: 60px;
}

.info-block {
	background: #353535;
	position: relative;
	 top: 115px;
   right: 90px;
   min-height: 396px;
}

.list-of-blog {
	background-color:#353535;
	border-width: 0px;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    padding: 0;
    color:white;
    padding: 20px 30px;
    margin-bottom: 1300px;
}