#img_jumbo {
	height: 360px;
    background: transparent url(../img/banner2.jpg) no-repeat center top;
    background-size: cover;
}

#img_projector {
width: 180px;
    height: 112px;
    background: transparent url(../img/projector.png) no-repeat center center;
}

#img_people {
width: 180px;
    height: 112px;
    background: transparent url(../img/people.png) no-repeat center center;
}

#img_breakfast {
width: 180px;
    height: 112px;
    background: transparent url(../img/coffee.png) no-repeat center center;
}

#img_big2 {
position: relative;
    background: transparent url(../img/image-12.jpg) no-repeat left top;
    background-size: cover;
}

#img_big3 {
	position: relative;
    background: transparent url(../img/image-13.jpg) no-repeat right center;
    background-size: cover;
}


#img_meeting {
		margin-top: 15px;
		width: 60px;
	  height: 50px;
    background: transparent url(../img/meeting.png) no-repeat center center;
}

#img_modern-hall {
			margin-top: 190px;
		width: 50px;
	  height: 60px;
    background: transparent url(../img/modern-hall.png) no-repeat center center;
}

#img_speakers {
		margin-top: 15px;
		width: 60px;
	  height: 50px;
    background: transparent url(../img/speakers.png) no-repeat center center;
}

#img_map2 {
		margin-top: 190px;
		width: 50px;
	  height: 50px;
    background: transparent url(../img/icon-map.png) no-repeat center center;
}

#text-great {
	font-weight: 400;
    color: #7E7E7E;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    line-height: 24px;
    text-align: center;
    margin-left: 10px;
}

.circle_inside4 {
	    border-style: solid;
    border-width: 1px;
    border-color: #C2A476;
    border-radius: 142px;
    padding-bottom: 14px;
    position: relative;
    width: 286px;
    height: 286px;
    background: transparent url(../img/prague-meeting-venue-boardroom.jpg) no-repeat left top;
    background-size: cover;
}
