@import 'partials/general'; 
@import 'partials/nav_bar'; 
@import 'partials/footer';
// Height variables
$carousel-height: 880px;
//Jumbotron+Carousel
.jumbotron {
  padding: 0;
  margin: 0;
  font-family: lora, serif;
}
.jumbotron p.item1 {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    margin-bottom: 10px;
    background-color: rgba(53,53,53,0.7);
    line-height: 58px;
    font-size: 3vw;
}
.jumbotron p.item2 {
    margin-bottom: 15px;
    background-color: rgba(53,53,53,0.7);
    line-height: 86px;
    font-size: 5vw;
}

.carousel {
  position: relative;
  .item {
    height: $carousel-height;
    .carousel-caption {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 20px;
    left: 25%;
    z-index: 10;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: $carousel-height;
}
  }
}

.reserveRow {
    padding-top: 40px;
    min-height: 81px;
    padding-bottom: 40px;
    background-color: #353535;
  }
  .reserveText {
    color: #FFFFFF;
    position: relative;
    font-family: lora, serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    background-color: transparent;
  }

  #reserveButton {
    padding: 10px 12px;
    border: 1px solid #c2a476;;
    border-radius: 4px;
    font-family: open-sans, sans-serif;
    font-size: 15px;
     width: 166px;
     background-color: #c2a476;
     color: white;
}
#reserveButton:hover{
  background-color: transparent;
  color: white;
}

#center_text {
  text-align: center;
  margin-top: 118px;
  min-height: 77px;
  position: relative;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  background: url(../img/bg-1.png) no-repeat center bottom;
  
}
/* Middle
-----------------------------------------------------------------------------*/

.content {
  padding: 0 0 100px;
}

#img_cup {
    width: 180px;
    height: 112px;
    background: transparent url(../img/cup.png) no-repeat center center;
}
#img_star {
    width: 180px;
    height: 112px;
    background: transparent url(../img/star.png) no-repeat center center;
}
#img_mouse {
    width: 180px;
    height: 112px;
    background: transparent url(../img/mouse.png) no-repeat center center;
}

.ipsum1{
    padding-left: 42px;
    padding-right: 42px;
    font-weight: 400;
    color: #7E7E7E;
    font-style: italic;
    font-family: lora, serif;
    font-size: 16px;
    line-height: 24px;
    border-style: solid;
    background-color: transparent;
    border-color: #C2A476;
    border-width: 0px 1px;
    max-width: 330px;
}

.header1 {
  font-weight: 400;
    text-align: center;
    font-family: lora, serif;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

#img_deluxe {
  background: transparent url(../img/image-03.jpg) no-repeat left top;
    background-size: cover;
    height: 644px;
    width: 100%;
}

#deluxe_aria {
  background-size: cover;
  height: 644px;
  background-color: #353535;
  width: 100%;
  color: white;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#text_aria {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  color: #F9F6F1;
  position: relative;
  line-height: 24px;
  width: 100%;
}

#lists{
  padding-left: 15px;
}
#img_house {
  width: 60px;
  height: 75px;
  background: transparent url(../img/town.png) no-repeat center center;

}

#img_wifi {
  width: 60px;
  height: 75px;
  background: transparent url(../img/wi-fi.png) no-repeat center center;
}
#img_parking {
  width: 60px;
  height: 75px;
  background: transparent url(../img/parking.png) no-repeat center center;
}
#img_breackfast {
  width: 60px;
  height: 75px;
  background: transparent url(../img/tea.png) no-repeat center center;
}
#img_room {
  width: 60px;
  height: 75px;
  background: transparent url(../img/room-size.png) no-repeat center center;
}
#ipsum2{
  font-size:12px;
  text-align: center;
  line-height: 14px;
}

 #bookButton {
    padding: 10px 12px;
    border: 1px solid #c2a476;;
    border-radius: 5px;
    font-family: open-sans, sans-serif;
    font-size: 15px;
     width: 137px;
     background-color: transparent;
     color: #c2a476;
}
#bookButton:hover{
  background-color: #c2a476;
  color: white;
}

#img_restaurant {
  background: transparent url(../img/image-02.jpg) no-repeat left top;
    background-size: cover;
    height: 490px;
    width: 100%;
}

#center_header2 {
  margin-bottom: 40px;
  text-align: center;
  min-height: 77px;
  position: relative;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  background: url(../img/bg-1.png) no-repeat center bottom;
}

#center_text2 {
    font-weight: 400;
    color: #7E7E7E;
    font-style: italic;
    font-family: lora, serif;
    font-size: 16px;
    margin-right: 10px;
    line-height: 24px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 35px;
}

.circle {
    width: 300px;
    height: 150px;
    position: relative;
    border-style: solid;
    padding-bottom: 0px;
    border-color: #424242;
    border-width: 0px 1px;
    background: transparent url(../img/bg-odometer.png) no-repeat center top;
}

#circle_count {
  padding-top:100px;
  padding-bottom: 100px;
  color: #F9F6F1;
    font-family: lora, serif;
    position: relative;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.count_up {
  padding-top: 50px;
  font-size: 36px;
}

#photo_chairs{
  height: 664px;
    background: transparent url(../img/image-01.jpg) no-repeat left top;
    background-size: cover;
}

// mini carousel
#mycarousel2 {
  top:172px;
  right: 130px;
  max-height: 492px;
  min-width: 450px;
  background-color: #353535;
}

@media (max-width: 990px) {
  #mycarousel2 {
  top:0;
  right:0;
  max-height: 430px;
  background-color: #353535;
}
}

.carousel-body {
  position: absolute;
  top:30px;
  left:30px;
  right:30px;

}

.carousel-inner {
    position: relative;
    min-height: 492px;
    width: 100%;
    overflow: hidden;
}
.carousel_header {
font-weight: 600;
    color: #C2A476;
    font-family: lora, serif;
    font-size: 30px;
    position: relative;
    line-height: 36px;
    text-transform: uppercase;
    background-color: transparent;
}

.carousel_text {
    font-weight: 400;
    margin-top: 18px;
    background-color: transparent;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    color: #F9F6F1;
}

#indicators_castom {
  position: absolute;
  bottom: 35px;
  left:70px;
}

.carousel-indicators li {
    margin: 1px 7px;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #C2A476;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 1px 7px;
    background-color: #C2A476;
}

.map_frame {
   border-width: 0px;
    height: 481px;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    left: 0px;
    right: 0px;
}