@import 'partials/general'; 
@import 'partials/nav_bar'; 
@import 'partials/footer';
// Height variables
$carousel-height: 880px;
//Jumbotron+Carousel
.jumbotron {
  padding: 0;
  margin: 0;
  font-family: lora, serif;
}
.jumbotron p.item1 {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    margin-bottom: 10px;
    background-color: rgba(53,53,53,0.7);
    line-height: 58px;
    font-size: 3vw;
}
.jumbotron p.item2 {
    margin-bottom: 15px;
    background-color: rgba(53,53,53,0.7);
    line-height: 86px;
    font-size: 5vw;
}

.carousel {
  position: relative;
  .item {
    height: $carousel-height;
    .carousel-caption {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 20px;
    left: 25%;
    z-index: 10;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: $carousel-height;
}
  }
}

.reserveRow {
    padding-top: 40px;
    min-height: 81px;
    padding-bottom: 40px;
    background-color: #353535;
  }
  .reserveText {
    color: #FFFFFF;
    position: relative;
    font-family: lora, serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    background-color: transparent;
  }

  #reserveButton {
    padding: 10px 12px;
    border: 1px solid #c2a476;;
    border-radius: 4px;
    font-family: open-sans, sans-serif;
    font-size: 15px;
     width: 166px;
     background-color: #c2a476;
     color: white;
}
#reserveButton:hover{
  background-color: transparent;
  color: white;
}

#center_text {
  text-align: center;
  margin-top: 118px;
  min-height: 77px;
  position: relative;
  text-align: center;
  font-family: lora, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  background: url(../img/bg-1.png) no-repeat center bottom;
  
}
/* Middle
-----------------------------------------------------------------------------*/

.content {
  padding: 0 0 100px;
}

#img_cup {
    width: 180px;
    height: 112px;
    background: transparent url(../img/cup.png) no-repeat center center;
}
#img_star {
    width: 180px;
    height: 112px;
    background: transparent url(../img/star.png) no-repeat center center;
}
#img_mouse {
    width: 180px;
    height: 112px;
    background: transparent url(../img/mouse.png) no-repeat center center;
}

.ipsum1{
    padding-left: 42px;
    padding-right: 42px;
    font-weight: 400;
    color: #7E7E7E;
    font-style: italic;
    font-family: lora, serif;
    font-size: 16px;
    line-height: 24px;
    border-style: solid;
    background-color: transparent;
    border-color: #C2A476;
    border-width: 0px 1px;
    max-width: 330px;
}

.header1 {
  font-weight: 400;
    text-align: center;
    font-family: lora, serif;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

#img_deluxe {
  background: transparent url(../img/image-03.jpg) no-repeat left top;
    background-size: cover;
    height: 644px;
    width: 100%;
}

#deluxe_aria {
  background-size: cover;
  height: 644px;
  background-color: #353535;
  width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}