#img_jumbo {
	  height: 360px;
    background: transparent url(../img/banner1.jpg) no-repeat center top;
    background-size: cover;
}

.reserveJumbo {
    padding-top: 15px;
    height: 76px;
    padding-bottom: 15px;
    background-color: #353535;
  }

  #img_team {
  	background: transparent url(../img/image-04.jpg) no-repeat left top;
    background-size: cover;
    height: 490px;
  }

  #img_big {
  	background: transparent url(../img/image-05.jpg) no-repeat left top;
    background-size: cover;
  	height: 565px;
  }